body{
    margin: 40px;
    background-color: rgb(236, 232, 232);

}
h1{
    padding: 20px;
    padding-top: 50px;
text-align: center;
}
.main{
    border:2px solid purple;
    border-radius: 20px;
    padding: 30px;
}
.form{
    text-align: center;
}
input{
     border: 2px rgb(253, 253, 253) solid;
}
.input{
    width: 70px;
   
}
.btn{
    border-radius: 3px;
    border-color: gray;
    height:25px;
 width:70px;
    background-color: rgb(253, 253, 253);
    cursor:pointer
}
.btn:hover{
    background-color: rgb(171, 171, 173);
    color: white;
}